body{
    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    font-family:'Maven Pro',sans-serif;
}

.container{
    .navbar{
        background: #222222;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        &Contact{
            display: flex;
            flex-direction: row;
            color: #b3b3b3;
            list-style-type: none;
            font-size: 0.875rem;
            align-items: center;
            justify-content: center;
            font-weight: 400;

            &Number{
                margin-left: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &::before{
                    content: '';
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 28px;
                    width: 28px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.564cm' height='0.564cm'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 102, 0)' d='M12.858,15.996 C12.192,15.996 11.388,15.829 10.504,15.496 C8.565,14.765 6.455,13.321 4.564,11.431 C2.672,9.539 1.227,7.431 0.496,5.493 C-0.169,3.731 -0.171,2.285 0.492,1.623 C0.587,1.528 0.684,1.426 0.784,1.320 C1.389,0.685 2.072,-0.030 2.977,0.002 C3.601,0.028 4.205,0.415 4.824,1.185 C6.654,3.459 5.829,4.269 4.874,5.208 L4.706,5.376 C4.550,5.531 4.255,6.254 6.999,8.996 C7.895,9.892 8.659,10.547 9.269,10.943 C9.653,11.193 10.341,11.571 10.623,11.289 L10.792,11.118 C11.731,10.166 12.542,9.344 14.815,11.171 C15.585,11.790 15.972,12.393 15.998,13.018 C16.035,13.922 15.314,14.607 14.678,15.210 C14.573,15.310 14.471,15.407 14.376,15.502 C14.047,15.831 13.521,15.996 12.858,15.996 ZM2.912,0.539 C2.269,0.539 1.688,1.150 1.174,1.691 C1.071,1.800 0.971,1.905 0.872,2.004 C0.379,2.496 0.429,3.792 0.999,5.304 C1.705,7.171 3.106,9.212 4.945,11.051 C6.784,12.888 8.825,14.288 10.694,14.993 C12.208,15.564 13.503,15.612 13.996,15.120 C14.094,15.022 14.200,14.922 14.308,14.819 C14.861,14.294 15.488,13.699 15.461,13.039 C15.442,12.585 15.112,12.098 14.479,11.589 C12.584,10.067 12.055,10.604 11.176,11.494 L11.004,11.668 C10.584,12.088 9.902,11.995 8.976,11.394 C8.334,10.976 7.541,10.297 6.619,9.376 C4.342,7.100 3.613,5.707 4.326,4.993 L4.498,4.824 C5.391,3.946 5.929,3.416 4.406,1.522 C3.896,0.889 3.408,0.559 2.954,0.539 C2.940,0.539 2.926,0.539 2.912,0.539 Z'/%3e%3c/svg%3e");
                }
            }
            &Email{
                display: flex;
                margin-left: 16px;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &::before{
                    content: '';
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 28px;
                    width: 28px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.706cm' height='0.494cm'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 102, 0)' d='M18.388,14.001 L1.612,14.001 C0.723,14.001 -0.000,13.289 -0.000,12.413 L-0.000,1.586 C-0.000,0.711 0.723,-0.001 1.612,-0.001 L18.388,-0.001 C19.277,-0.001 20.000,0.711 20.000,1.586 L20.000,12.413 C20.000,13.289 19.277,14.001 18.388,14.001 ZM0.645,12.413 C0.645,12.939 1.079,13.366 1.612,13.366 L18.388,13.366 C18.921,13.366 19.355,12.939 19.355,12.413 L19.355,1.586 C19.355,1.457 19.328,1.335 19.280,1.222 L12.722,6.854 L16.414,10.265 C16.544,10.384 16.551,10.586 16.429,10.713 C16.365,10.780 16.280,10.814 16.193,10.814 C16.114,10.814 16.035,10.785 15.973,10.727 L12.262,7.299 C12.251,7.289 12.254,7.274 12.245,7.263 L11.184,8.174 C10.857,8.455 10.429,8.595 10.000,8.595 C9.571,8.595 9.142,8.455 8.816,8.175 L7.755,7.264 C7.746,7.274 7.749,7.289 7.739,7.299 L4.027,10.727 C3.965,10.785 3.885,10.814 3.806,10.814 C3.720,10.814 3.635,10.780 3.571,10.713 C3.449,10.586 3.455,10.384 3.585,10.265 L7.278,6.854 L0.720,1.220 C0.672,1.333 0.645,1.457 0.645,1.586 L0.645,12.413 ZM1.612,0.634 C1.447,0.634 1.299,0.686 1.163,0.758 L9.240,7.696 C9.652,8.050 10.348,8.050 10.760,7.696 L18.839,0.758 C18.702,0.686 18.554,0.634 18.388,0.634 L1.612,0.634 Z'/%3e%3c/svg%3e");
                }
            }
        }
        &Action{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: center;
            align-items: center;

            button{
                border: none;
                background: transparent;
                text-transform: uppercase;
            }
            &SignIn{
                height: 18px;
                margin-left: 16px;
                border-right: 1px solid #ffffff;

                button{
                    color: #ff6600;
                }
            }
            &SignUp{
            
                button{
                    color: #ffffff;
                }
            }   
        }
    }
    .landing{

        &Primary{
            background:#d91e18 ;
            background: -webkit-linear-gradient(to right, #d91e18, #ff6600);
            background: linear-gradient(to right, #d91e18, #ff6600);
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            &Navbar{
                padding: auto 14px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-bottom:1px solid #fff;
                width: fit-content;
                
                &Img{
                    height: fit-content;
                }
                &Options{
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: center; 

                    li{
                        padding: 10px;
                        align-self: center;
                        margin-left: 16px;
                        color: #ffffff;
                        cursor: pointer;
                        font-weight: 400;

                        &:last-child{
                            color: #ffa824;
                            padding: 10px;
                            border-radius: 100px;
                        }    
                    }
                }
            }
            &Search{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                width: 100%;
                height: 100%;

                &Title{
                    font-size: 36px;
                    margin: 0;
                    font-weight: 400;
                }
                &Description{
                    font-size: 26px;
                    font-weight: 300;
                }
                &Input{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    input{
                        width:50%;
                        background-color: #d3d3d362;
                        border:1px solid #ffffff;
                        border-radius: 100px;
                        outline: none;
                        padding: 16px 16px;
                        font-size: 20px;
                        color: #ffffff;
                
                        &::placeholder{
                            color: #ffffff5b; 
                        }
                    }
                }
                &Footer{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &Location{
                        display: flex;
                        margin-right: 16px;
                        flex-direction: row;
                        align-items: center;

                        &::before{
                            height: 28px;
                            width: 28px;
                            background-repeat: no-repeat;
                            background-position: center;
                            content: '';
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.388cm' height='0.564cm'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M5.500,0.000 C2.467,0.000 0.000,2.374 0.000,5.292 C0.000,6.468 0.780,8.384 2.384,11.150 C3.519,13.108 4.635,14.739 4.682,14.807 L5.500,16.000 L6.318,14.807 C6.365,14.739 7.481,13.108 8.616,11.150 C10.220,8.384 11.000,6.468 11.000,5.292 C11.000,2.374 8.533,0.000 5.500,0.000 ZM5.500,8.000 C3.925,8.000 2.649,6.772 2.649,5.257 C2.649,3.742 3.925,2.513 5.500,2.513 C7.074,2.513 8.351,3.742 8.351,5.257 C8.351,6.772 7.074,8.000 5.500,8.000 Z'/%3e%3c/svg%3e");
                            margin-top: 5px;
                        }   
                    }
                    &Action{
                        background: transparent;
                        opacity: .5;
                        color: #ffffff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-bottom: 1px solid #ffffff;

                    }
                }
            }
        }
        &Secondary{
            background-color: #222222;
            display: flex;
            flex-direction: column;
            height: 30vh;
            padding: 10px;
    
            &Title{
                color: #ff6600;
                display: flex;
                font-family: sans-serif;
                flex-direction: row;
                padding-top: 30px;
                font-weight: bold;
                padding-left: 13%;
                
                &::before{
                    content: '';
                    height: 18px;
                    width: 6px;
                    background-color: #ff6600;
                    margin-right: 5px;    
                }
            }
            &Schedule{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 8%;
                margin-right: 10%;

                &Event{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-left: 6px;

                    &Details{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        &Time{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            color: #ffffff;
                            
                            &At{
                                margin: 0;

                            }
                            &Convention{
                                padding-left: 8px;
                                padding-top: 5px;
                            }   
                        }
                        &Venue{
                            color: #ffffff;
                            margin: 8px auto;
                            
                        }
                        &Book{
                            color: #ffffff;
                            background-color: #ff6600;
                            border-radius: 100px;
                            border: none;
                            cursor: pointer;
                            font-weight: bold;
                            padding: 5px 16px 5px 16px;
                            width: fit-content;
                        }
                        &Sold{
                            color: #ff6600;
                            background-color: #222222;
                            border: 1px solid #ff6600;
                            padding: 5px;
                            cursor: pointer;
                            border-radius: 100px;
                            font-weight: bold;
                            padding: 5px 16px 5px 16px;
                            width: fit-content;
                            
                        }
                    }
                    &Arrow{
                        color: #ffffff;
                        opacity: .10;
                        margin: 10% 25px auto 25px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .event{

        &Upcoming{
            justify-content: center;
            align-content: center;

            &Content{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 100px;

                &Details{
                    justify-content: center;
                    align-content: center;
                    display: flex;
                    flex-direction: column;

                    &Title{
                        display: flex;
                        flex-direction: row;
                        text-transform: uppercase;
                        color: #373737;
                        font-family: sans-serif;
                        padding-top: 20px;
                        padding-left: 21%;  

                        &::before{
                            background-color: #ff6600 ;
                            content: '';
                            width: 6px;
                            height: 18px;
                            margin-right: 5px;
                        }
                    }
                    &Para{
                        margin-left: 100px;
                        color: #6f6f6f;
                        justify-content: center;
                        padding-left: 80px;
                    }
                }
                &Action{ 
                    width: fit-content;
                    height: 30px;
                    text-transform: uppercase;
                    border-radius: 100px;
                    border: 1px solid #ff6600;
                    color: #ff6600;
                    background-color: #ffffff;
                    cursor: pointer;
                    margin-top: 100px;    
                }   
            }
            &AllEvents{
                margin-left: 13%;
                margin-right: 10%;
                margin-top: 20px;
                justify-content: center;
                align-items: center;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
           
                &Card{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background: linear-gradient(to right , #6f6f6f,#242323, #6f6f6f);
                    background: linear-gradient(to top, #2e2d2d , #6f6f6f );
                    height: 35vh;
                    position: relative;

                    &:hover {
                        background: linear-gradient(to right , #222222,#2b2b2b, #292929);
                    }

                    &Image{
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #373737;

                    }
                    &Calender{
                        background-color: #242424;
                        color: #ffffff;
                        padding: 8px 12px 8px 12px;
                        height: fit-content;    
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        position: absolute;
                        left: 0;
                    
                        &Date{
                            margin: 0;  
                        }
                        &Month{
                            margin: 0;
                            text-transform: uppercase;
                        }
                        &Year{
                            margin: 0;
                        }
                    }
                    &Content{
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        position: absolute;
                        bottom: 16px;
                        left: 16px;
                        width: 100%;
                        justify-content: center;

                        &Details{
                            display: flex;
                            flex-direction: column;
                        
                            &Title{
                                color: #ffffff;
                               
                                
                            }
                            &Para{
                                color: #ffffff;
                                margin: 0;
                            }
                        }
                        &Action{
                            color: #ffffff;
                            background-color: #ff6600;
                            border-radius: 100px;
                            text-transform: uppercase;
                            cursor: pointer;
                            padding: 8px 16px;
                            border: none;
                            width: fit-content;
                            height: fit-content;
                            font-weight: bold;
                            align-self: center;
                            position: absolute;
                            right: 30px;

                        }
                    }
                }
            }
        }
        &Categories{
            justify-content: center;
            margin-top: 20px;
        
            &Content{
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                &Details{
                    &Title{  
                        text-transform: uppercase;
                        font-family: sans-serif;
                        display: flex;
                        flex-direction: row;
                        color: #373737;
                        margin-left: 13%;

                        &::before{
                            background-color: #ff6600;
                            width: 6px;
                            height: 18px;
                            content: '';
                            margin-right: 5px;
                        }
                    }
                    &List{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 20px;
                        padding-left: 15%;
                        padding-right: 15%;
                        align-items: center;
                        text-transform: uppercase;

                        &Concert{
                            background: linear-gradient(to right, #2ecc71 , #1bbc9b );
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px ;
                            padding-bottom: 60px;
                           
                        }
                        &Sports{
                            background: linear-gradient(to right, #c0392b , #d24d57 );
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px;
                            padding-bottom: 60px;
                        }
                        &Theater{
                            background:  linear-gradient(to right, #663399 , #9b59b6 );
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px;
                            padding-bottom: 60px;
                            
                        }
                        &Parties{
                            background: linear-gradient(to right, #d35400 , #f89406); 
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px;
                            padding-bottom: 60px;  
                        }
                        &Communities{
                            background: linear-gradient(to right, #446cb3 , #59abe3);
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px;
                            padding-bottom: 60px;    
                        }
                        &Classes{
                            background: linear-gradient(to right, #db0a5b, #d2527f ) ;
                            color: #ffffff;
                            text-align: center;
                            padding-top: 60px;
                            padding-bottom: 60px;    
                        }
                    }
                }   
            }
        }
    }    
    .number{
        background-color: #242424;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &Card{
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &Line{
                background-color: #ffffff;
                content: '';
                width: 25px;
                height: 2px;    
            }
            &Title{
                text-transform: uppercase;     
            }
        }
    }
    .content{

        &Recent{
            display: flex;
            flex-direction: column;
            justify-content: center;

            &Content{
                padding-top: 20px;

                &Title{
                    text-transform: uppercase;
                    color:  #373737;
                    padding-left: 13%;
                    display: flex;
                    flex-direction: row;
                    font-family: sans-serif;
                    
                    &::before{
                        background-color: #ff6600;
                        content: '';
                        width: 6px;
                        height: 18px;
                        margin-right: 5px;
                    }
                }
            }
            &All{
                display: grid;
                grid-template-columns:repeat(auto-fit, minmax(15%, 1fr));
                justify-content: center;
                align-items: center;
                gap: 1em;
                margin-left: 13%;
                margin-right: 13%;
                

                &Videos{
                    display: flex;
                    flex-direction: column;
              
                    &Card{
                        display: flex;
                        flex-direction: column;
                        
                        &Thumb{
                            background-color: #6f6f6f;
                            content: '';
                            position: relative;
                            height: 150px;
                        }
                        &Player{
                            position: relative;
                            background-color: #242424;
                            content: '';
                            height: 35px;
                            top: -30px;
                      
                            &Thumb{
                                position:absolute;
                                left: 10px;
                                top: 10px;
                                width: 0;
                                height: 0;
                                border-top: 5px solid transparent;
                                border-left: 10px solid #d7d7d7;
                                border-bottom: 5px solid transparent;
                            }
                            &Time{
                                position: absolute;
                                color: #ffffff;
                                right: 20px;
                                top: 10px;
                            }
                        }
                        &Description{
                            display: flex;
                            flex-direction: column;

                            &Para{
                                color:#242424;
                                margin-top:0px;
                            }
                            &Line{
                                background-color: #ff6600;
                                width: 28px;
                                height: 2px;
                                content: '';
                            }
                        }  
                    }
                }    
            }
        }
        &CallToAction{
            display: grid;
            grid-template-columns: 2fr 1fr;
            background: linear-gradient(to right,#ec6003, #f89b18);
            justify-content: center;
            align-items: center;
            margin-left: 18%;
            margin-right: 18%;
            margin-top: 50px;
            padding: 10px;
            
            &Details{
                color: #ffffff;
                align-items: center;
                align-content: center;
                margin-left: 30px;

                &Title{
                   
                }
                &Para{
                    
                }
            }

            &Action{
                background-color: #ffffff;
                color: #ff6600 ;
                font-weight: bold;
                border-radius: 3px;
                border: none;
                padding: 10px;
                padding-left: 25px;
                padding-right: 25px;
                margin-left: 40%;
                text-transform: uppercase;
                cursor: pointer;
                width: fit-content;
            }

        }
        
    }
    .latest{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        margin-left: 8%;
        gap: 3em;

        &News{
            display: flex;
            flex-direction: column;

            &Title{
                display: flex;
                flex-direction: row;
                color: #373737; 
                text-transform: uppercase;
                font-family: sans-serif;
                font-weight: bold;

                &::before{
                    background-color: #ff6600;
                    content: '';
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 18px;
                    width: 6px;
                    margin-right: 5px;
                }
            }
            &Content{
                display: flex;
                flex-direction: row;
                gap: 1em;
                margin-top: 8px;

                &Card{
                    background-color: #242424;
                    height:140px;
                    width: 130%;
                    position: relative;

                    &Calender{
                        padding: 5px 4px 9px 4px;
                        background-color: #ff6600;
                        width: fit-content;
                        position: absolute;
                        left: 0;
                        margin-left: 10px;
                        text-align: center;
                        color: #ffffff;

                        &Date{
                            margin: 0;
                        }
                        &Month{
                            margin: 0;
                            text-transform: uppercase;
                        }
                        &Year{
                            margin: 0;
                        }
                    }
                }
                &Description{
                    margin-top: -25px;

                    &Title{
                        color: #373737;
                    }
                    &Content{
                        display: flex;
                        flex-direction: row;
                        margin-top: -25px; 

                        &Time{
                            color: #6f6f6f;   
                        }
                        &From{
                            display: flex;
                            flex-direction: row;
                            color: #6f6f6f;

                            span{
                                color: #ff6600;
                                margin-left: 4px;
                            }
                            &::before{
                                background-color: #6f6f6f;
                                content: '';
                                width: 2px;
                                height: 16px;
                                margin: 2px 10px auto 10px;
                            }
                        }
                    }
                    &Para{
                        color: #6f6f6f;
                        margin-top: -4px;
                    }
                }
            } 
            &Numbers{
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 1em;
                
                &One{
                    background-color: #ff6600;
                    padding: 2px 7px 2px 7px;
                    border-radius: 3px;
                    color: #ffffff;
                    border: 1px solid #ff6600;
                }
                &Two{
                    color: #ff6600;
                    background-color: #ffffff;
                    border: 1px solid #ff6600;
                    padding: 2px 6px 2px 6px;
                    border-radius: 3px;
                }
                &Three{
                    color: #ff6600;
                    background-color: #ffffff;
                    border: 1px solid #ff6600;
                    padding: 2px 6px 2px 6px;
                    border-radius: 3px;
                }
                &Four{
                    color: #ff6600;
                    background-color: #ffffff;
                    border: 1px solid #ff6600;
                    padding: 2px 6px 2px 6px;
                    border-radius: 3px;
                }
                &Five{
                    color: #ff6600;
                    background-color: #ffffff;
                    border: 1px solid #ff6600;
                    padding: 2px 6px 2px 6px;
                    border-radius: 3px;
                }
                
            }    
        }
        &Tweets{
            display: flex;
            flex-direction: column;
            margin-right: 13%;

            &Content{

                &Title{
                    display: flex;
                    flex-direction: row;
                    color:#373737;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: sans-serif;

                    &::before{
                        background-color: #ff6600;
                        content: '';
                        width: 6px;
                        height: 18px;
                        margin-right: 5px;
                    }
                }
                &Action{
                    display: flex;
                    flex-direction: row;
                    padding: 5px;
                    background-color: #f8f8f8;
                    margin-right: 100px;

                    &Logo{
                        background-color: #ff6600;
                        margin-left: 15px;
                        padding: 12px 15px 12px 15px;
                        color: #ffffff;
                        border-radius: 8px;
                        
                    }
                    &Body{
                        margin-left: 18px;
                        align-self: center;

                        &Title{
                            color: #4e4e4e;
                            margin-bottom: 1px;
                        }
                        &Para{
                            margin-top: 0px;
                            color: #6f6f6f;
                        }
                    }
                    &Action{
                        margin-left:90px;
                        align-self: center;
                        color: #ffffff;
                        background-color: #41c3ff;
                        border-radius: 3px;
                        border: none;
                        padding: 5px 18px 5px 18px;
                    }
                }
                &Description{
                    display: flex;
                    flex-direction: row;
                    margin-right: 80px;
                    border-bottom: 1px solid #eaeaea;

                    &Para{
                        color: #6f6f6f;
                        margin-left: 10px;
                    }
                    &Time{
                        color: #b3b3b3;
                        margin-left: 30px;
                    }
                    span{
                        color: #ff6600;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}